<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TramPro</title>
    <link rel="icon" type="image/x-icon" href="/images/TramPRO icon aba.png">
                            <!-- css links -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/pagamento.css">
                            <!-- swiper css -->
    <link rel="stylesheet" href="/stylesheets/swiper.min.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script&family=Great+Vibes&family=Pacifico&family=Roboto&display=swap" rel="stylesheet">
</head>

<body>

  <% if(!userLogged){ %>
  <%- include('./partials/header') %>
<% } else { %>
  <%- include('./partials/headerLogged') %>
  
<% } %>

    <main>
<div class="containeir-principal">

<div class="formas-de-pagamento">
 <div class="text-pagamento-box">
<h3>Formas de Pagamento</h3>
</div>
<div class="cartao-de-credito-box">
<div class="cartao-de-credito">
<input type="radio" id="cartao" name="opcao-pagamento">
<label for="opcao-pagamento" id="credito-debito" class="cartao-checkbox">Cartão de Crédito/Débito</label>
<img class="bandeira-cartao-img" src="/images/mastercard_old_payment_method_card_icon_142735.png" alt="mastercard">
<img class="bandeira-cartao-img" src="/images/credit_card_visa_payment_method_icon_134914.png" alt="visa">
</div>
</div>

<div class="hidden" id="container-cartao">
<form action="#">
    
<div class="info-cartao">
    <div class="numero-cartao-box">
    <label for="numero-cartao">Numero do Cartão</label> <br>
    <input type="text" name="numero-cartao" id="numero-cartao" class="numero-cartao" required>
</div>

<div class="validade-box">
    <label for="validade-cartao">Data <br> de Validade</label> <br>
    <input type="text" name="validade-cartao" id="validade-cartao" class="validade-cartao" required placeholder="MM/AA">
</div>

<div class="codigo-seguranca-box">
    <label for="codigo-seguranca-cartao">Código <br> de Segurança</label> <br>
    <input type="text" name="codigo-seguranca-cartao" id="codigo-seguranca-cartao" class="codigo-seguranca-cartao" required>
</div>
</div>

<div class="info-usuario-cartao">
<div class="nome-cartao-box">
    <label for="nome-cartao">Nome Completo</label> <br>
    <input type="text" name="nome-cartao" id="nome-cartao" class="nome-cartao" required>
</div>

<div class="cpf-cartao-box">
    <label for="cpf-cartao">CPF</label> <br>
    <input type="text" name="cpf-cartao" id="cpf-cartao" class="cpf-cartao" required>
</div>
</div>
    </form>


</div>
<div class="paypal">
    <input type="radio" id="paypal" name="opcao-pagamento">
    <label for="opcao-pagamento" id="paypalLabel" class="paypal-label">  <img class="paypal-img" src="/images/paypal_payment_method_card_icon_142733.png" alt="paypal"></label>
</div>

<div class="pix-boleto">
    <input type="radio" id="pix-boleto" name="opcao-pagamento">
    <label id="boletoLabel" for="opcao-pagamento">Pix ou Boleto</label>
</div>
<div class="hidden" id="container-boleto">
<div class="info-usuario-boleto">
    <div class="nome-boleto-box">
        <label for="nome-boleto">Nome Completo</label> <br>
        <input type="text" name="nome-boleto" id="nome-boleto" class="nome-boleto" required>
    </div>
    
    <div class="cpf-boleto-box">
        <label for="cpf-boleto">CPF</label> <br>
        <input type="text" name="cpf-boleto" id="cpf-boleto" class="cpf-boleto" required>
    </div>

    <div class="email-cartao-box">
        <label for="email-boleto">Digite o E-mail para onde o boleto será enviado</label> <br>
        <input type="email" name="email-boleto" id="email-boleto" class="email-boleto" placeholder="Digite seu e-mail cadastrado" required>
    </div>

</div>
    </div>
        </div>

       
<div class="revisao-do-servico">
    <div class="descricaoNome">
        <p> <%= users.nome + ' ' + users.sobrenome %> </p>
    </div>
<div class="foto-nome">
<img class="imgDoServico" src="/images/servicesImg/<%= services.imagem + '.jpg' %>" width="250px" height="155px" alt="foto do Serviços">
</div>
<p class="nome"> <%= services.nome %> </p>
<hr>
<div class="descricao">
    <div class="txt-descricao">
    <p> <%= services.descricao %> </p>
    </div>
</div>

<div class="valor-final">
<div class="total">  
<p>Total: </p>
</div>

<div class="valor">  
    <p>R$ <%= services.valor + ',00' %> </p>
    </div>
    
</div>

<div class="stripePayment">
<form action="payment" method="POST">
    <script
     src="//checkout.stripe.com/v2/checkout.js"
     class="stripe-button"
     data-key="<%= key %>"
     data-amount="<%= services.valor + '00' %>"
     data-currency="BRL"
     data-name="<%= services.nome %>"
     data-description=" <%= services.descricao %>"
     data-locale="auto">
    </script>
</form>
</div>
</div>





</div>
    </main>

    <script src="/javascripts/pagamentoScript.js"></script>
</body>


<br><br><br>
<%- include('./partials/footer') %>
